.text-content
  %header
    %h2 About
  %p
    I am a London-based software engineer with two years experience of developing software with Ruby and Javascript using agile and test-driven methods. My first website was created in 1997 and I have been coding, tinkering and designing ever since.
  %p
    I am passionate about solving problems with technology, communicating well with people and delivering good results.
  %p
    For the past year, I have been working as a software engineer for 
    = link_to "Tribesports.", "http://tribesports.com" 
    While there I created a Facebook app, a mobile application using Javascript and the Appcelerator platform and built a permission system within the main social application.

  %p
    In my spare time, I have lead the technical side of
    = link_to "giveaiddirect.com,", "http://giveaiddirect.com"
    building the app from scratch, integrating it with Paypal and communicating with the 'business' side of the (soon-to-be) charity.

  %p
    I have been formerly employed as a business manager and a school teacher so I have experienced software being used in the real world, with all the joys and frustrations that it brings. This lead me to develop solutions to common problems, including pushapage.com which was created to help people move information from iPads to desktop machines.
    = link_to "pushapage.com", "http://pushapage.com"
    = " · "
    = link_to "code", "https://github.com/tomcartwrightuk/pushapage"

  %p
    This employment history also means I know how to communicate effectively, resolve misunderstandings and present ideas clearly.

  %p
    At university I took Music and Sound Recording where I studied maths, video/audio engineering and lots of microphone model numbers. I also programmed in Assembly and did lots of statistical analysis on audio listening experiment results.

  %p
    I have a particular interest in data processing including natural language processing and machine learning. These skills are in the making but are 
    = link_to "developing nicely.", "https://telecourse.caltech.edu/index.php"

  %p
    In addition to Ruby, I have some experience with a few different languages and technologies including Python, Skala and Java.

  %p
    I play 5-a-side football, sing bass and play a number of instruments. I am a
    = link_to "Letterpress", "http://www.atebits.com/letterpress/"
    and coffee enthusiast.
